@media screen and (max-width: 600px){
    .home-left, 
    .home-right,
    .home-container01 {
        display: none;
    }

    .navbar-logo-title {
        margin-left: 0;
    }

    .home-hero1 {
        flex-direction: column;
    }

    .home-container03 {
        text-align: center;
    }

    .home-info,
    .home-container04 {
        display: block;
    }

    .home-btn-group {
        justify-content: center;
    }

    .home-cards-container {
        width: 100%;
        gap: 20px;
    }

    .category-card-image {
        width: 250px;
        height: 250px;
    }

    .section-container {
        flex-direction: column;
    }

    .home-left4 {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    .home-image6 {
        width: 100%;
    }

    .blog-post-card-blog-post-card {
        max-width: unset;
    }

    .home-links-container {
        flex-direction: column;
    }

    .home-footer1 {
        flex-direction: column-reverse;
    }

    .home-links-container {
        margin-top: 20px;
    }

}